/*
Author URI: http://tolufolorunso.herokuapp.com/
*/

/* @import url(http://fonts.googleapis.com/css?family=Open + Sans:400, 700, 600); */

/* :root {
    --primaryC: gggg;
} */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

/* // font-family: 'Lato',
// sans-serif;
// font-family: 'Merriweather',
// serif; */

/* html,
body {
    width: 100%;
    height: 100%;
} */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 2px;
    color: #777;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* general rules */

h1 {
    font-family: 'Merriweather', serif;
    line-height: 1.1;
    font-size: 4.5rem;
    margin: 0;
}

h2 {
    font-family: 'Merriweather', serif;

    font-size: 2.7rem;
    margin: 0;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    margin: 0;
}

p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

@media only screen and (max-width: 900px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* Navigation */

.navigation {
    max-height: 70px;
    background: #0eadf4;
    color: #fff;
}

.navigation__wrapper {
    width: 100%;
    margin: auto;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__menu--item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navigation__menu--item a {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    transition: all .3s ease;
}

.navigation__menu--item a:hover {
    text-decoration: underline;
}

.navigation__menu--items {
    font-size: 1.8rem;
    padding: 10px;
    cursor: pointer;
}

.navigation__icon {
    display: block;
    position: absolute;
    right: 450px;
    top: 15px;
    font-size: 3rem;
    color: white;
    display: none;
}


.navigation__wrapper input {
    display: none;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 1;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */

.mobile__menu {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    width: 250px;
    padding-top: 25px;
    background: #0eadf4;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    z-index: 1000;
    transform-origin: 0% 0%;
    transform: translate(0, -230%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.mobile__menu a:link,
.mobile__menu a:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%;
    transition: all .4s;
}

.mobile__menu a:hover,
.mobile__menu a:active {
    background-position: 100%;
    color: #232323;
    transform: translateX(1rem);
}

.navigation__button {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* top: 20px; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    /* background: red; */
}

.navigation__icon {
    position: relative;
    right: 0;
    top: 0;
}

.icon-container {
    display: none;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 3rem;
    height: 4px;
    background: #232323;
    display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
}

.navigation__icon::before {
    top: -.8rem;
}

.navigation__icon::after {
    top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
    top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
    top: 1rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
    background: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
}

.showIcon {
    transform: translate(0, -20%);
    z-index: 2000;
}

.menu-container {
    z-index: 1;
    position: relative;
}

@media only screen and (max-width: 900px) {
    .navigation__button {
        display: flex;
    }

    .navigation__menu--item {
        display: none;
    }

    .icon-container {
        display: block;
    }

    /* .navigation__menu--item {
        display: none;
    } */
}

/* Header rules */
.header {
    color: #fff;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 40px;
}

.header h1 {
    margin-bottom: 10px;
}

.header .form-tag {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between; */
    position: relative;

}

/* .form-group {
    margin-bottom: 40px;
} */

.header .form-group input {
    background: #fff;
    border: 1px solid #724E32;
    border-radius: 3px;
    padding: 15px 20px;
    font-size: 1.6rem;
    width: 100%;
}

.header .form-group input:focus {
    outline: none;
    border: 1px solid #0eadf4;
}

.header .form-tag button {
    position: absolute;
    top: 7px;
    right: 20px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.header .form-tag button:active,
.header .form-tag button:focus,
.header .form-tag button:hover {
    outline: none;
    border: none;
}

.row {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    /* height: 400px; */
}

.city {
    position: relative;
    width: 60%;
    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.city-box {
    align-self: flex-end;
    font-size: 3.5rem;
    padding: 20px;
}

.time-deg {
    display: flex;
    padding: 20px;
    align-items: center;
}

.time {
    font-size: 2rem;
}

.time-boxes {
    display: flex;
    justify-content: center;
    text-align: center;
}

.time-box {
    position: relative;
    width: 6rem;
    border-radius: 3px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4rem;
    color: #0eadf4;
    -webkit-text-stroke-color: #0eadf4;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}

.time-box::after {
    content: ":";
    position: absolute;
    top: -3px;
    left: -10px;
    animation: blink 1s infinite;
}

.ap {
    position: relative;
    top: 10px;
    left: -4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    color: #0eadf4;
    -webkit-text-stroke-color: #0eadf4;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.time-box:nth-child(1)::after {
    content: "";
}

.deg {
    position: absolute;
    right: 20px;
    font-size: 4rem;
    font-weight: 200;
}

.deg sup {
    font-size: 2rem;
    position: absolute;
    right: 25px;
    top: 5px;
}

.condition {
    background: #000;
    width: 40%;
    padding: 20px;
}

.condition img {
    width: 75px;
}

.city-condition::after {
    content: '';
    display: block;
    border-bottom: 3px solid #0eadf4;
    width: 160px;
    margin: auto;
    color: #0eadf4;
    text-align: center;

}

@media only screen and (max-width: 850px) {
    .row {
        flex-direction: column;
        /* margin-bottom: 150px; */
    }

    .city {
        width: 100%;
    }

    .condition {
        width: 100%;
    }

    .map {
        max-width: 100%;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 400px) {
    .time-deg {
        flex-direction: column;
    }

    .deg {
        position: relative;
    }
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid #0eadf4;
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 1.6rem;
    margin-top: 10px;
}

tr {
    transition: all 0.3s ease;
}

tr:nth-child(odd) {
    background-color: #6d6d6d;
}

tr:nth-child(even) {
    background-color: #777;
}

tr:hover {
    opacity: 0.7;
}



.map {
    height: 100%;
    margin: 10px auto 30px auto;
    width: 900px;
    height: 350px;
}

/* alert */

.alert {
    position: fixed;
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-width: 300px; */
    color: #fff;
    z-index: 5;
    padding: 10px 20px;
    font-size: 2rem;
    transition: all .2s ease;
    opacity: 0;
    border-radius: 3px;
    pointer-events: none;
}

.more-info {
    padding-left: 20px;
    font-size: 2rem;
}

.more-info a {
    font-weight: bold;
    font-style: italic;
    color: tomato;
}

.weather__boxes {
    max-width: 800px;
    margin: 50px auto;
}

.weather__box {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('/images/storm.jpg'); */

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 130px;
    /* width: 90%; */
    margin-top: 30px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
}

.weather__box h3 {
    color: #0eadf4;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 5px;
    font-style: italic;
    padding: 0 0 0 50px;
}

.weather__box--content {
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    padding: 0 30px 0 50px;

}

.weather-daily__box {
    max-width: 900px;
    width: 100%;
    height: 511px;
    text-align: center;
    margin: 50px auto 0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/images/tree-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.weather-daily__box h1 {
    color: #0eadf4;
    text-align: center;
    padding: 30px;
    font-size: 3rem;
    font-weight: 400;
}





@media only screen and (max-width: 900px) {


    .weather__box h3 {
        font-size: 1.6rem;
    }

    .weather__box {
        height: 150px;
        width: 100%;
    }

    .weather__box--content {
        color: #fff;
        flex-direction: column;
        /* justify-content: space-between; */
        font-size: 1.8rem;
        padding: 0 30px 0 50px;
    }

    .weather-daily {
        display: none;
    }
}


.about-section,
.contact {
    color: #fff;
    margin-top: 50px;
    height: 100%;
}

/* contact us */

.contact h1 {
    margin-bottom: 40px;
    text-align: center;
}

.contact .form-tag {
    width: 50%;
    margin: 0 auto;
}

.contact .form-group {
    margin-bottom: 40px;
    position: relative;
}

.contact .form-group input,
.contact .form-group textarea {
    /* position: relative; */
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 3px solid #0eadf4;
    box-shadow: none;
    width: 100%;
    font-size: 1.8rem;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}

.contact .form-group label {
    position: absolute;
    color: #fff;
    left: 0;
    font-size: 2.5rem;
    padding: 5px;
    transform-origin: top left;
    transform: translate(0, 0) scale(1);
    transition: all 0.2s ease-in-out;
    cursor: text;
}


/* .form-group.active label {
    transform: translate(0, 0) scale(1);
} */

.contact .form-group input:focus,
.contact .form-group textarea:focus {
    outline: none;
    border-bottom-color: #0eadf4;
}

.contact .form-group input:focus:invalid {
    outline: none;
    border-bottom-color: red;
}

.contact .form-group input:focus+label,
.contact .form-group textarea:focus+label {
    color: #0eadf4;
    transform: translate(0, -20px) scale(0.9);
    font-size: 1.8rem;
}

.add-to {
    color: #0eadf4;
    transform: translate(0, -20px) scale(0.9);
    font-size: 1.8rem;
}

.contact .btn {
    text-align: right;
    display: flex;
    justify-content: left;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    background-color: #0eadf4;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.contact .btn:hover {
    background: #024f74;
}

@media only screen and (max-width: 800px) {
    .contact .form-tag {
        width: 100%;
    }
}

/* about */

.about {
    padding: 60px 0;
    margin: 0 auto;
    width: 100%;
    color: #fff;
}

.about__me-info {
    display: flex;
    justify-content: center;
    align-items: center;
}


.about__me-image {
    width: 50%;
}

.about__me-image img {
    max-width: 100%;
    height: auto;
}

.about__me-message {
    width: 50%;
    padding: 20px 60px;
}

.about__me-message h3 {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 4rem;
    color: #2196cc;
    text-decoration: underline;
}

.about__me-message p {
    color: #fff;
}

@media only screen and (max-width: 800px) {
    .about__me-info {
        flex-direction: column;
    }

    .about__me-image {
        width: 100%;
    }

    .about__me-message {
        width: 100%;
    }
}



.footer {
    background: #020c11;
    color: #fff;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 60px;
    position: fixed;
    bottom: 0;
}

.footer p {
    font-size: 1.6rem;
    font-weight: 400;
}

.footer .coded-by {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #0eadf4;
    padding-left: 10px;
    transition: all 0.5s ease;
}

.footer .coded-by:hover {
    text-decoration: underline;
    display: inline-block;
    color: #0eadf4;
    transform: rotate(2deg) scale(1.1);
}