/*
Author URI: http://tolufolorunso.herokuapp.com/
*/

/* @import url(http://fonts.googleapis.com/css?family=Open + Sans:400, 700, 600); */

/* :root {
    --primaryC: gggg;
} */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

/* // font-family: 'Lato',
// sans-serif;
// font-family: 'Merriweather',
// serif; */

/* html,
body {
    width: 100%;
    height: 100%;
} */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 2px;
    color: #777;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* general rules */

h1 {
    font-family: 'Merriweather', serif;
    line-height: 1.1;
    font-size: 4.5rem;
    margin: 0;
}

h2 {
    font-family: 'Merriweather', serif;

    font-size: 2.7rem;
    margin: 0;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    margin: 0;
}

p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* Navigation */

.navigation {
    max-height: 70px;
    background: #0eadf4;
    color: #fff;
}

.navigation__wrapper {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__menu--item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navigation__menu--item a {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    transition: all .3s ease;
}

.navigation__menu--item a:hover {
    text-decoration: underline;
}

.navigation__menu--items {
    font-size: 1.8rem;
    padding: 10px;
    cursor: pointer;
}

/* Header rules */
.header {
    color: #fff;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.header h1 {
    margin-bottom: 10px;
}

.form-tag {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between; */
    position: relative;

}

/* .form-group {
    margin-bottom: 40px;
} */

.form-group input {
    background: #fff;
    border: 1px solid #724E32;
    border-radius: 3px;
    padding: 15px 20px;
    font-size: 1.6rem;
    width: 100%;
}

.form-group input:focus {
    outline: none;
    border: 1px solid #0eadf4;
}

.form-tag button {
    position: absolute;
    top: 7px;
    right: 20px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.form-tag button:active,
.form-tag button:focus,
.form-tag button:hover {
    outline: none;
    border: none;
}

.row {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    /* height: 400px; */
}

.city {
    position: relative;
    width: 60%;
    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.city-box {
    align-self: flex-end;
    font-size: 3.5rem;
    padding: 20px;
}

.time-deg {
    display: flex;
    padding: 20px;
    align-items: center;
}

.time {
    font-size: 2rem;
}

.time-boxes {
    display: flex;
    justify-content: center;
    text-align: center;
}

.time-box {
    position: relative;
    width: 6rem;
    border-radius: 3px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4rem;
    color: #0eadf4;
    -webkit-text-stroke-color: #0eadf4;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}

.time-box::after {
    content: ":";
    position: absolute;
    top: -3px;
    left: -10px;
    animation: blink 1s infinite;
}

.ap {
    position: relative;
    top: 10px;
    left: -4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    color: #0eadf4;
    -webkit-text-stroke-color: #0eadf4;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.time-box:nth-child(1)::after {
    content: "";
}

.deg {
    position: absolute;
    right: 20px;
    font-size: 4rem;
    font-weight: 200;
}

.deg sup {
    font-size: 2rem;
    position: absolute;
    right: 25px;
    top: 5px;
}

.condition {
    background: #000;
    width: 40%;
    padding: 20px;
}

.condition img {
    width: 75px;
}

.city-condition::after {
    content: '';
    display: block;
    border-bottom: 3px solid #0eadf4;
    width: 160px;
    margin: auto;
    color: #0eadf4;
    text-align: center;

}

@media only screen and (max-width: 850px) {
    .row {
        flex-direction: column;
        /* margin-bottom: 150px; */
    }

    .city {
        width: 100%;
    }

    .condition {
        width: 100%;
    }

    .map {
        max-width: 100%;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 400px) {
    .time-deg {
        flex-direction: column;
    }

    .deg {
        position: relative;
    }
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid #0eadf4;
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 1.6rem;
    margin-top: 10px;
}

tr {
    transition: all 0.3s ease;
}

tr:nth-child(odd) {
    background-color: #6d6d6d;
}

tr:nth-child(even) {
    background-color: #777;
}

tr:hover {
    opacity: 0.7;
}



.map {
    height: 100%;
    margin: 10px auto 30px auto;
    width: 800px;
    height: 350px;
}

/* alert */

.alert {
    position: fixed;
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-width: 300px; */
    color: #fff;
    z-index: 5;
    padding: 10px 20px;
    font-size: 2rem;
    transition: all .2s ease;
    opacity: 0;
    border-radius: 3px;
    pointer-events: none;
}

.more-info {
    padding-left: 20px;
    font-size: 2rem;
}

.more-info a {
    font-weight: bold;
    font-style: italic;
    color: tomato;
}

.weather__boxes {
    max-width: 800px;
    margin: 50px auto;
}

.weather__box {
    background: green;
    height: 120px;
    width: 90%;
    margin-top: 30px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
}

.weather__box h3 {
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
    font-style: italic;
    padding: 0 0 0 30px;
}

.weather__box--content {
    color: #fff;
    display: flex;
    justify-content: space-around;
    font-size: 1.8rem;
}


.about-section,
.contact-section {
    color: #fff;
    margin-top: 50px;
}